@{
    ViewData["Title"] = "Actualizar Usuario";
}
@model AppUsuarios

<h1 class="bg-info text-white bordeTitulo fadeIn first">Actualizar usuario</h1>
<a asp-action="Index" class="btn btn-info fadeIn first">Regresar</a>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Update" method="post">
    <div class="Contenido">
        <div class="form-group text-left fadeIn second">
            <label asp-for="Email">Email:</label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group text-left fadeIn second">
            <label for="password">Contraseña:</label>
            <input name="password" type="password" class="form-control" />

        </div>
        <hr />
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-success fadeIn third">Guardar</button>
        </div>
    </div>
</form>
